.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sections {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .sections {
    width: 1200px;
  }
}

.hero {
  background: #84A278;
}
@media screen and (max-width: 320px) {
  .hero {
    height: 403px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 335px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 546px;
  }
}

.sections {
  position: relative;
}

.hero-title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
}
@media screen and (max-width: 320px) {
  .hero-title {
    padding-left: 20px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1199.9px) {
  .hero-title {
    padding-left: 32px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 1199.9px) {
  .hero-title {
    font-size: 22px;
    line-height: calc 1.2692307692;
    width: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 36px;
    line-height: calc 1.2631578947;
    width: 370px;
    padding-left: 16px;
    margin-bottom: 28px;
  }
}

.hero-img_ice {
  position: absolute;
  right: 60px;
  top: 186px;
}
@media screen and (min-width: 768px) {
  .hero-img_ice {
    right: 95px;
    top: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-img_ice {
    right: 95px;
    top: -15px;
  }
}

.hero-img_point {
  position: absolute;
  top: 351px;
}
@media screen and (min-width: 768px) {
  .hero-img_point {
    top: 265px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-img_point {
    top: 159px;
  }
}

@media screen and (max-width: 1199.9px) {
  .hero-title__span {
    font-size: 27px;
  }
}

.about-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-left: 32px;
}
@media screen and (min-width: 1200px) {
  .about-product {
    margin-left: 16px;
  }
}

.about-products,
.about-product_made {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
}

.about-products {
  padding: 11px 26px;
  text-align: center;
  color: #000000;
  border: 2px solid #F8D24E;
  border-radius: 8px;
}
@media screen and (max-width: 280px) {
  .about-products {
    padding: 0;
    border: none;
  }
}

.about-product_made {
  padding: 11px 12px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #F8D24E;
}
@media screen and (max-width: 280px) {
  .about-product_made {
    padding: 0;
  }
}

.cafes_truck {
  position: absolute;
  top: 8px;
  right: 16px;
}
@media screen and (max-width: 400px) {
  .cafes_truck {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .cafes_truck {
    right: 32px;
  }
}

.cafes_truck_number,
.cafes_truck_kind {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  text-align: right;
}

.cafes_truck_number {
  font-weight: 900;
  font-size: 28px;
  line-height: 1.2142857143;
  letter-spacing: 0.04em;
  color: #131313;
}
@media screen and (min-width: 1200px) {
  .cafes_truck_number {
    font-size: 46px;
    line-height: 1.2173913043;
  }
}

.cafes_truck_kind {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: #FCFCFC;
  margin-top: 4px;
}
@media screen and (min-width: 1200px) {
  .cafes_truck_kind {
    font-size: 14px;
    line-height: 1.2142857143;
  }
}

@media screen and (max-width: 320px) {
  .many-ice {
    display: none;
  }
}

.many-ice_img {
  position: absolute;
  display: none;
}
@media screen and (min-width: 768px) {
  .many-ice_img {
    display: block;
    left: 32px;
    top: 163px;
  }
}
@media screen and (min-width: 1200px) {
  .many-ice_img {
    display: block;
    left: 16px;
    top: 253px;
  }
}

.many-ice_text {
  position: absolute;
  left: 260px;
  top: 320px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #FCFCFC;
  width: 140px;
}
@media screen and (max-width: 768px) {
  .many-ice_text {
    font-size: 12px;
    width: 140px;
    left: 208px;
    top: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .many-ice_text {
    font-size: 14px;
    width: 200px;
    left: 260px;
    top: 320px;
  }
}

.many-ice_arrow {
  position: absolute;
  left: 260px;
  top: 430px;
}
@media screen and (min-width: 768px) {
  .many-ice_arrow {
    left: 208px;
    top: 290px;
  }
}
@media screen and (min-width: 1200px) {
  .many-ice_arrow {
    left: 260px;
    top: 430px;
  }
}/*# sourceMappingURL=main.css.map */